<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/st/main.css"></link>
    <link rel="stylesheet" href="/st/longreads.css"></link>
    <link rel="stylesheet" href="/st/longread_creation.css"></link>
    <!--Input editor scripts here-->
    <script src="/st/js/medium-editor.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
    var id = <%= id %>;
    var username = "<%= username %>";

    var submitPost = function () {
        $.ajax({
            url: '/admin/longread/save',
            method: 'POST',
            data: {
                id: id,
                title: $("#title").text(),
                lead: $("#lead").text(),
                body: $("#body").html()
            },
            success: function (msg) {
                alert("Fuq yea");
            },
        });
    }
    </script>
</head>
<body>
    <div class="header">

    </div>
    <div class="longread__wrapper">
        <div id="title" class="longread__field longread__field__title form" contenteditable="true">
            <%= article.title %>
        </div>
        <div id="lead" class="longread__field longread__field__lead form" contenteditable="true">
            <%= article.lead %>
        </div>
        <div id="body" class="longread__field longread__field__body form editable" contenteditable="true">
            <%- article.body %>
        </div>
        <div class="longread__field longread__field__time">4:20</div>
        <script>
        var editor = new MediumEditor('.editable');
        </script>
        <button onclick="submitPost();" class="button__submit">Сохранить</button>
    </div>
</body>
</html>
