<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/st/main.css">
    <link rel="stylesheet" href="/st/main_page.css">
    <link rel="stylesheet" href="/st/longreads.css">

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!--<script src="/st/main_page.js"></script>-->
</head>

<body>
    <div class="first-screen__wrapper">
        <div class="first-screen__navbar">
            <div>
                <a href="#">О нас</a>
                <a href="#">Фильмы</a>
            </div>
        </div>
        <div class="first-screen__inner-wrapper">
            <img id="first-screen__logo" src="/st/img/intelvideo-normal_2_no-title.svg">
            <div class="first-screen__vertical-line"></div>
            <div class="first-screen__about">
                <h1>Интелвидео</h1>
                <p>Рыба моей мечты</p>
            </div>
        </div>
    </div>
    <div class="second-screen__wrapper">
        <div class="nashe-vse__wrapper">
            <h1>Наше всё</h1>
            <div class="second-screen__longread-list__wrapper">
                <% for (var i = 0; i < articles.length; i+= 1) { %>
                    <div class="longread__wrapper">
                        <a href="/longread/<%= articles[i].public_id %>">
                            <div class="longread__field__title">
                                <%= articles[i].title %>
                            </div>
                        </a>
                        <div class="longread__field__lead">
                            <%= articles[i].lead %>
                        </div>
                        <div class="longread__field__info">
                            <div class="longread__field__author">
                                <%= articles[i].author %>
                            </div>
                            <div class="longread__field__date">
                                <%= articles[i].date %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="about__wrapper">
            <h1>Шо це такэ?</h1>
        </div>
    </div>
</body>

</html>
